<!-- users/templates/validate_otp.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validate OTP</title>
    <!-- Include the CSS styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Validate OTP</h1>
        <form method="post" action="{{ url_for('user.validate_otp') }}">
            <label for="otp">Enter OTP:</label>
            <input type="text" id="otp" name="otp" required>

            <button type="submit">Submit OTP</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>