{% extends 'base.html' %}

{% block header %}
    <div class="user-info">
        {% if current_user.is_authenticated %}
            <p>Welcome {{ current_user.username }}!</p>
        {% else %}
            <!-- Add login/register link or form if not authenticated -->
        {% endif %}
    </div>
    <div class="logout-btn">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('user.logout') }}" class="btn btn-logout">Logout</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <h1>Order List</h1>

   <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>$ {{ item.price }}</td>
                    <td>$ {{ item.quantity }}</td>
                    <td>$ {{ item.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right;">Grand Total:</td>
                <td>${{ total_price }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}